.app-background {
  background-image: url('./assets/Animebackground.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-text {
  color: white;
}

.white-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

